@-moz-keyframes record {
  0% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
  50% {
    background-color: #f00;
    box-shadow: 0 0 20px #f00;
  }
  100% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
}
@-o-keyframes record {
  0% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
  50% {
    background-color: #f00;
    box-shadow: 0 0 20px #f00;
  }
  100% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
}
@-webkit-keyframes record {
  0% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
  50% {
    background-color: #f00;
    box-shadow: 0 0 20px #f00;
  }
  100% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
}
@keyframes record {
  0% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
  50% {
    background-color: #f00;
    box-shadow: 0 0 20px #f00;
  }
  100% {
    background-color: #a00;
    box-shadow: 0 0 20px transparent;
  }
}

#timetracker-table-form {
  margin-top: 48px;
}
#timetracker-livetrack {
  background-color: #000;
  background-image:    -moz-linear-gradient(top,       #fefefe, #e0e0e0);
  background-image:     -ms-linear-gradient(top,       #fefefe, #e0e0e0);
  background-image:      -o-linear-gradient(top,       #fefefe, #e0e0e0);
  background-image: -webkit-linear-gradient(top,       #fefefe, #e0e0e0);
  background-image:         linear-gradient(to bottom, #fefefe, #e0e0e0);
  color: #333;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  left: 10px;
  overflow: hidden;
  position: fixed;
  top: 10px;
}

#timetracker-livetrack-controls {
  float: left;
}

#timetracker-livetrack-start,
#timetracker-livetrack-stop {
  background-color: #888;
  background-image:    -moz-linear-gradient(top,       #888, #222);
  background-image:     -ms-linear-gradient(top,       #888, #222);
  background-image:      -o-linear-gradient(top,       #888, #222);
  background-image: -webkit-linear-gradient(top,       #888, #222);
  background-image:         linear-gradient(to bottom, #888, #222);
  border: 0;
  border-radius: 3px 0 0 3px;
  color: #fff;
  cursor: pointer;
  line-height: 20px;
  margin: 0;
  padding-left: 15px;
  position: relative;
  text-align: center;
  width: 58px;
}

#timetracker-livetrack-start[disabled],
#timetracker-livetrack-stop[disabled] {
  background: #888;
  cursor: default;
  opacity: 0.8;
}

#timetracker-livetrack-start::before,
#timetracker-livetrack-stop::before {
  background: #a00;
  border: 1px solid #222;
  border-radius: 10px;
  content: '';
  height: 10px;
  position: absolute;
  left: 5px;
  top: 6px;
  width: 10px;
}

.running #timetracker-livetrack-start::before,
.running #timetracker-livetrack-stop::before {
     -moz-animation: record 2s infinite;
       -o-animation: record 2s infinite;
  -webkit-animation: record 2s infinite;
          animation: record 2s infinite;
}

#timetracker-livetrack-stop {
  background: -moz-linear-gradient(
    bottom center,
    #622 0%,
    #c88  100%
  );
  background: -webkit-gradient(
    linear, left bottom, left top,
    color-stop(0, #622),
    color-stop(1, #c88)
  );
}

#timetracker-livetrack-stop[disabled] {
  background: #622;
}

#timetracker-livetrack.running #timetracker-livetrack-start,
#timetracker-livetrack-stop {
  display: none;
}

#timetracker-livetrack-start,
#timetracker-livetrack.running #timetracker-livetrack-stop {
  display: inline;
}

#timetracker-livetrack-display {
  float: right;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 3px 10px 0;
}

#timetracker-livetrack-report-dialog {
  font-size: 0.8em;
  float: right;
  line-height: 20px;
  margin: 0 0 0 -5px;
  padding: 3px 0 0;
}

#timetracker-livetrack-report-dialog-cancel {
  background: transparent;
  border: 0;
  color: #48A;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  margin: 0 10px;
  padding: 0;
}

#timetracker-livetrack-report-dialog-cancel:hover {
  text-decoration: underline;
}

#timetracker-livetrack-report-dialog-confirm {
  background-color: #091;
  background-image:    -moz-linear-gradient(top,       #6c7, #091);
  background-image:     -ms-linear-gradient(top,       #6c7, #091);
  background-image:      -o-linear-gradient(top,       #6c7, #091);
  background-image: -webkit-linear-gradient(top,       #6c7, #091);
  background-image:         linear-gradient(to bottom, #6c7, #091);
  border: 1px solid #091;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 13px;
  margin: -4px 3px 0px 0;
  text-align: center;
  width: 48px;
}
