body.page-timetracker-track {
  margin: 0;
}

.timetracker-table-form {
  display: block;
  font: 12px sans-serif;
  margin: 0;
  position: relative;
}

.timetracker-table-form thead,
.timetracker-table-form tbody,
.timetracker-table-form tr,
.timetracker-table-form th,
.timetracker-table-form td {
  border: 0;
}

.timetracker-table-form thead {
  display: none;
}

.timetracker-table-form tbody tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.timetracker-table-form tbody tr:first-child {
  border-top-width: 0;
}

.timetracker-table-form tbody tr:hover {
  background: transparent;
}

.timetracker-table-form tbody tr.today,
.js .timetracker-table-form tbody tr.today th .sticky {
  background-color: #ded;
}

.timetracker-table-form tbody tr.weekend td,
.timetracker-table-form tbody tr.weekend:nth-child(odd) td,
.js .timetracker-table-form tbody tr.weekend th .sticky {
  background-color: #eee;
}

.timetracker-table-form td.fragment,
.timetracker-table-form td.full-hour {
  padding: 0;
}
.timetracker-table-form td.fragment .form-item,
.timetracker-table-form td.full-hour .form-item {
  padding: 0.7em 0.5em;
}
.js .timetracker-table-form td input.form-checkbox {
  position: absolute;
  visibility: hidden;
}
.js .timetracker-table-form td,
.js .timetracker-table-form td label {
  border-width: 0;
  cursor: pointer;
  color: #4488AA;
  margin: 0;
}
.js .timetracker-table-form td.active,
.js .timetracker-table-form td.active label {
  background-color: #091;
  color: #fff;
}

.js .timetracker-table-form td.checked,
.js .timetracker-table-form td.checked label,
.js .timetracker-table-form td.ui-selecting,
.js .timetracker-table-form td.ui-selecting label,
.js .timetracker-table-form td:hover,
.js .timetracker-table-form td:hover label {
  background-color: #6c7;
  color: #fff;
}
.js .timetracker-table-form td.active:hover,
.js .timetracker-table-form td.active:hover label {
  background-color: #c67;
}
.js .timetracker-table-form tbody th,
.js .timetracker-table-form tbody th:hover {
  border-right: 1px dotted #ccc;
  background-color: inherit;
  color: inherit;
  cursor: inherit;
  line-height: 1.3em;
  padding: 5px;
}
.js .timetracker-table-form tbody th .static {
  visibility: hidden;
}
.js .timetracker-table-form tbody th .sticky {
  background-color: #fff;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  left: 0;
  margin-top: -35px;
  padding: 5px 6px;
  position: fixed;
  z-index: 500;
  -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}
.timetracker-table-form tbody th .formatted-day {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
}
.js .timetracker-table-form tr.today th {
  font-weight: bold;
}
.timetracker-table-form td.full-hour {
  border-left: 1px dotted #ccc;
}
.timetracker-table-form td.quarter {
  font-size: 0.8em;
}
.js .timetracker-table-form td.disabled,
.js .timetracker-table-form td.disabled:hover,
.js .timetracker-table-form td.disabled label,
.js .timetracker-table-form td.disabled:hover label {
  background-color: #ddd;
  color: #999;
  cursor: inherit;
}

.js .timetracker-table-form td.approved,
.js .timetracker-table-form td.approved:hover,
.js .timetracker-table-form td.approved label,
.js .timetracker-table-form td.approved:hover label {
  background-color: #7FFFD4;
  color: #999;
  cursor: inherit;
}

.js .timetracker-table-form td.rejected,
.js .timetracker-table-form td.rejected:hover,
.js .timetracker-table-form td.rejected label,
.js .timetracker-table-form td.rejected:hover label {
  background-color: #FA8072;
  color: #FFF;
}

.js .timetracker-table-form td.load {
  background-image: url(../images/load.gif);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.timetracker-pager {
  position: fixed;
}

.timetracker-pager a {
  color: #48A;
  text-decoration: none;
}

.timetracker-pager a:hover {
  text-decoration: underline;
}

.js #timetracker-table-form .form-submit {
  display: none;
}

#timetracker-table-form div.load {
  background: url(../images/load.gif) no-repeat;
  float: right;
  margin: 5px;
  height: 11px;
  text-indent: -99999px;
  width: 16px;
}

#timetracker-table-form ul.pager a {
  font-size: 1em;
}

div.block-rainy_time_tracker #timetracker-table-form input.date-button {
  display: inline;
  float: right;
  font-size: 1em;
  margin: 5px;
}

div.block-rainy_time_tracker div.date-picker {
  position: relative;
}

div.block-rainy_time_tracker div.date-picker div.ui-datepicker-inline {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 5px;
  bottom: 0;
  z-index: 100;
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.block-rainy_time_tracker div.date-picker table td,
div.block-rainy_time_tracker div.date-picker table th {
  padding: 0;
}
